@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Light.ttf') format('opentype'),
         url('../assets/fonts/Montserrat-SemiBold.ttf') format('opentype');
  }
  
  *{
      box-sizing: border-box;
      font-family:'Montserrat', sans-serif;
      margin: 0;
  }

body{
    background-color: #f1f1f1;
}



h2{
   width: 100%;
    text-align: start;
    font-size: 25px;
    font-weight: 600;
    
}


/* styles header  dashboard*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    width:100%;
    height: 70px;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0px 2px 10px rgba(81, 81, 81, 0.253);
  }
  
  .header__info{
    display: flex;
    align-items: center;
    justify-content: start;
    width:70%;
    
  }
  
  .header__info__icon{
    font-size: 3em;
    font-weight: 100;
  }
  
  
  .header__info__title{
    font-weight: 100;
    font-size: 1em;
  }
  
  /* styles header menu burger */
  .header__info__titleMenu{
    display: flex;
    text-align: start;
    gap: 8px;
    width: 80% !important;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .header__info__titleMenu h3{
    color: white;
    text-align: center;
   
    font-weight: 600;
  }
  .header__info__titleMenu p{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .header__info__subTitleMenu{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 80% !important;
  }
  .header__info__subTitleMenu h3{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #818cf8;
  }

  .header__info__subTitleMenu p{
    width: 100%;
    font-size: 15px;
    color: rgb(173, 173, 173);

  }

  .header__info__linkMenu{
    display: flex;
    gap: 10px;
    color: rgb(255, 255, 255);
    justify-content: end;
    text-align: start;
    font-weight: 100;
    padding: 15px;
    width: 100%;
    text-decoration: none;
  }
  
  .header__info__linkMenu:hover{
    background-color: #29303d;
    border-radius: 10px;
  }

  .header__info__linkMenu p{
    width: 90%;
  }
 

/* styles dashBoardCategory */


/* styles inputText,Dropdown, inputTextArea of FromCategories, FromProducts component */
.dropdownInput{
  width: 500px;
  display: flex;
  align-items: center;
  position: relative ;
  margin-bottom: 10px;
}

.containerInputOfForm{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
} 

.containerInputOfForm__group{
  width: 500px;
  display: flex;
  align-items: center;
  position: relative ;
}

.containerInputOfForm__group__Icon{
  position: absolute;
  left: 93%;
  color: #fa3c3c;
  font-size: 25px;
}

.containerInputOfForm__group__Icon__isSeleted{
  display: none;
}

.containerInputOfForm__group__inputText{
  width: 500px;
  padding-right: 40px;
}

.containerInputOfForm__group__inputText__isSeleted{
  width: 500px;
  border-color: #fa3c3c;
  padding-right: 40px;
  box-shadow: none;
}

.containerInputOfForm__textError{
  color: #fa3c3c;
}


.containerInputOfForm__inputTextArea{
  max-width: 500px;
  max-height: 130px;
  min-width: 500px;
  min-height: 130px;
  width: 500px;
  height: 130px;
}

.containerInputOfForm__inputTextArea__isSeleted{
  max-width: 500px;
  max-height: 130px;
  min-width: 500px;
  min-height: 130px;
  width: 500px;
  height: 130px;
  border-color: #fa3c3c;
  box-shadow: none;
}

.btnAdd{
  width: 500px;
}
@media (max-width:1280px) {
  .dropdownInput{
    width: 100%;
  }

  .containerInputOfForm__group{
    width: 100%;
  }

  .containerInputOfForm__group__Icon{
    left: 90%;
  }

  .containerInputOfForm__group__inputText{
    width:100%;
  }

  .containerInputOfForm__group__inputText__isSeleted{
    width:100%;
    border-color: #fa3c3c;
  }

  .containerInputOfForm__inputTextArea{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  .containerInputOfForm__inputTextArea__isSeleted{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    border-color: #fa3c3c;
    box-shadow: none;
  }

  .btnAdd{
    width: 100%;
   }
}


/* culmna de opciones de tabla categorias */
.btnTableOptions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnEdit{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  color:white;
  font-size: 18px;
  border: none;
  background-color: rgba(32, 106, 255, 0.715);
  cursor: pointer;
}

.btnEdit:hover{
  background-color: rgba(13, 94, 255, 0.715);
}

.btnDelete{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  color:white;
  font-size: 18px;
  border: none;
  background-color: rgba(253, 61, 61, 0.715);
  cursor: pointer;
}

.btnDelete:hover{
  background-color: rgba(255, 19, 19, 0.715);
}

/* contenedor tabla categoria */
.containerDataTable{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  overflow: scroll;
}

.containerDataTable::-webkit-scrollbar{
  display: none;
}

/* buscador input */
.containerSearch{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.groupInputSearch{
  width: auto;
  display: flex;
  gap: 5px;
  align-items: center;
}
.groupInputSearch__icon{
  position: absolute;
  margin-left: 10px;
}

.groupInputSearch__input{
  padding-left: 30px;
}

/* styles of card from home component */

.containerHome{
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 13em;
  text-align: center;
}

.card p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width:1280px){
  .containerHome{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .card{
    width: 100%;
    height: 13em;
  }
}

.btnUpload{
  background-color: #818cf8;
  width: 100px;
}

